<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>Instagram\Instagram</fullnamespace>
    <descriptive locale="en_US">
        <title>Instagram for Thelia</title>
        <description>This module display your Instagram photos</description>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Instagram pour Thelia</title>
        <description>Affiche les photos Instagram de votre compte</description>
    </descriptive>
    <version>0.1</version>
    <author>
        <name>Emmanuel Nurit</name>
        <email>enurit@openstudio.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.1.0</thelia>
    <stability>alpha</stability>
</module>
